{% if site.intro %}
    <div id="intro">
        <div class="container">
            {% if site.profile_picture %}
                <img id="intro-img" src="{{site.url}}/images/profilepic.jpg"> <!change profile pic here!>
            {% endif %}
            <h2>
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
            <p style="margin-top: 30px;">
                {{ site.short_bio }}
            </p>
        </div>
        <div class="wrap">
		        <ul>
			          <a rel="me" href="https://twitter.com/bolyche" target="_blank" class="button">Twitter</a>
			          <a rel="me" href="https://github.com/bolyche" target="_blank" class="button">Github</a>
			          <a rel="me" href="https://flickr.com/photos/bolyche/" target="_blank" class="button">Flickr</a>
			          <a rel="me" href="https://de.linkedin.com/in/chris-bolychevsky-7783805a" target="_blank" class="button">LinkedIn</a>
                <a rel="me" href="https://www.facebook.com/deleresk" target="_blank" class="button">Facebook</a>
                <a rel="me" href="http://steamcommunity.com/profiles/76561198031459610/" target="_blank" class="button">Steam</a>
                <a rel="me" href="https://www.goodreads.com/user/show/14741184-chris-bolychevsky" target="_blank" class="button">Goodreads</a>
		        </ul>
            <br>
            <br>
	      </div>
    </div>
{% else %}
    <section class="intro">
        <div class="container">
            <h2 class="site-name">
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
        </div>
    </section>
{% endif %}
